{% extends './base.html' %} {% block title %} Django Blog - Registeration Page
{% endblock title %} {% block content %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <h2>Registration Here</h2>
        <form method="post">
          {% csrf_token %} {{ form.non_field_errors }}
          <div class="form-group">
            {{ form.username }} {{ form.username.errors }}
          </div>
          <div class="form-group">{{ form.email }} {{ form.email.errors }}</div>
          <div class="form-group">
            {{ form.password }} {{ form.password.errors }}
          </div>
          <div class="form-group">
            {{ form.confirm_password }} {{ form.confirm_password.errors }}
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <div>
          <span>If You have account </span
          ><a href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
